/* Estilo general del modal */
.inputField {
    border-radius: 10px; /* Bordes redondeados para los campos */
    font-size: small; /* Tamaño de letra minimalista */
  }
  
  .label {
    font-size: small; /* Tamaño de letra minimalista */
  }
  
  /* Estilo del botón de envío */
  .submitButton {
    font-size: 1rem;
    padding: 0.75rem;
    background-color: #002b5b; /* Color base */
    border-color: #002b5b;
    border-radius: 15px; /* Bordes redondeados */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); /* Sombras para efecto 3D */
    transition: background-color 0.3s ease;
  }
  
  .submitButton:hover {
    background-color: #014782; /* Cambio de color al hacer hover */
    border-color: #014782;
  }
  