/* Sección de restablecimiento de contraseña */
.passwordResetSection {
    background-color: white;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }
  
  /* Imagen de fondo */
  .heroSection {
    background-image: url('https://res.cloudinary.com/dmc65vhh6/image/upload/v1729998919/Confirm_Page_Header_s6xd2p.webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 6rem 0;
    color: #ffffff;
    min-height: 600px;
    margin-top: 20px;
  }
  
  /* Título */
  .title {
    font-size: 2.5rem;
    color: #ffffff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    margin-bottom: 1rem;
    font-family: 'Rubik', sans-serif;
  }
  
  /* Subtítulo */
  .subTitle {
    font-size: 1.2rem;
    color: #ffffff;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
    margin-bottom: 2rem;
    font-family: 'Rubik', sans-serif;
  }
  
  /* Contenedor del formulario */
  .formSection {
    padding: 4rem 0;
  }
  
  .formContainer {
    max-width: 500px;
    margin: 0 auto;
    background-color: #ffffff;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 2rem;
  }
  
  /* Título del formulario */
  .formTitle {
    font-size: 1.8rem;
    font-weight: bold;
    color: #333;
  }
  
  /* Estilos del botón de envío */
  .submitButton {
    font-size: 1rem;
    padding: 0.75rem;
    background-color: #002b5b;
    border-color: #002b5b;
    border-radius: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease;
  }
  
  .submitButton:hover {
    background-color: #014782;
  }
  
  /* Estilos de inputs y labels */
  .inputField {
    border-radius: 10px;
    font-size: small;
  }
  
  .label {
    font-size: small;
  }
  